/* ---- reset ---- */
html {
  overflow: hidden;
}

body {
  margin: 0;
//   text-align: center;
//   justify-content: center;
}
canvas {
  display: block;
  //   vertical-align: bottom;
} /* ---- particles.js container ---- */